body{
  text-align: center;
  font-family: Helvetica
}
.banner{
  background-image: url("../images/banner.png");
}
#copyright{
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}
.banner:link{
  font-size: 18px
  color: white;
}
