body{
  text-align: center;
  font-family: Helvetica
}
h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}
h2  {
  font-size: 32px;
  font-weight: bold;
}
h3 {
  font-size: 23px;
  font-weight: bold;
  color: white;
}
h4 {
  font-size: 23px;
  font-weight: bold;
}
p {
  font-size: 14px;
}
.banner{
  background-image: url("../images/banner.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.banner2{
  background-image: url("../images/banner.png");
  width: 100%;
}
#copyright{
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}
a {
  color: white;
  font-size: 18px;
  word-spacing: 20px;
}
address {
  font-size: 14px;
  font-style: normal;
}
